*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --bg: #151515;
    --verde: #51FB3B;
}

body{
    width: 100%;
    height: 100%;
    background-color: var(--bg);
}

header{
    display: none;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 70px;
}

header .logo{
    background-image: url('./icons/logo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

main{
    width: 100%;
}

main .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-width: 288px;
    height: 100vh;
    margin: 0 auto;
}


main .logo-home{
    background-image: url('./icons/logo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

main h1{
    width: 233px;
    color: white;
    text-align: center;
    margin: 0 auto;
}

main h1 span{
    color: var(--verde);
}

main p{
    color: white;
    text-align: center;
    line-height: 25px;
}

main button{
    display: flex;
    align-items: center;
    width: 150px;
    height: 35px;
    border: 2px solid var(--verde);
    background-color: transparent;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 25px;
    padding: 10px;
    text-align: center;
    & .btn-fecha{
        width: 22px;
        height: 22px;
        margin-left: 20px;
        background-image: url('./icons/flecha-derecha.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

main button:hover{
    background-color: white;
    color: var(--bg);
    box-shadow: 1px 1px 10px var(--verde);
}

.container h2{
text-align: center;
color: white;
}

.p{
    color: var(--verde);
    width: 270px;
}

.container form{
    display: flex;
    justify-content: center;
}

.input{
    border: none;
    border-bottom: 2px solid var(--verde);
    height: 30px;
    background-color: transparent;
    outline: none;
    caret-color: var(--verde);
    color: white;
    &.input-nombre::placeholder{
        text-align: center;
    }
}

